.CTA-button {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    width: 196px;
    height: 40px;
    border: none;
    border-radius: 20px;
    transition: all 0.1s ease-in-out; /* Makes the change gradual */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1); /* Initial scale */
}

.CTA-button:not(:disabled) {
    cursor: pointer;
}

.CTA-button:not(:disabled):hover {
    transform: translateY(-2px); /* Scales the button up a bit */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.CTA-button:not(:disabled):active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px); /* Remains scaled but moves back down */
}

.CTA-button:disabled {
    cursor: default;
    opacity: 0.5; /* Makes the button appear faded */
    transition: none;
}


.CTA-button.go-back {
    background-color: var(--quizard-grey);
    color: var(--quizard-dark-grey);
}

.CTA-button.go-back:hover {
    background-color: var(--quizard-light-grey);
}

.CTA-button.go-back:active {
    background-color: var(--quizard-light-grey);
}

.CTA-button.next {
    background-color: var(--quizard-teal);
    color: var(--quizard-black);
    /* This ensures the "next" button, when it's the only button, moves to the right */
    margin-left: auto;
}

.CTA-button.next:hover {
    background-color: var(--quizard-teal);;
}

.CTA-button.next:active {
    background-color: var(--quizard-teal);;
}

.CTA-button.generate {
    background-color: var(--quizard-teal);;
    color: var(--quizard-black);
}

.CTA-button.generate:hover {
    background-color: var(--quizard-teal);;
}

.CTA-button.generate:active {
    background-color: var(--quizard-teal);;
}