:root {
    --quizard-white: white;
    --quizard-black: #0D052D;
    --quizard-light-grey: #EEEEEE;
    --quizard-lighter-grey: #F5F5F5;
    --quizard-grey: #8E8C96;
    --quizard-dark-grey: #6A6870;
    --quizard-darker-grey: #323135;
    --quizard-pale-violet: #F4F5FF;
    --quizard-subtle-teal: #74E8C5;
    --quizard-popping-teal: #6BFFD3;
    --quizard-light-red: #FAE5E3;
    --quizard-red: #E06760;
    --outer-border-radius: 16px;
}

/* Reset some basic browser default styling */
* {
    /*border: 1px solid magenta !important;*/
}

html, body, div, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    padding: 20px;
}

/* Typography */
body {
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    color: var(--quizard-black);
}

h1, h2, h3 {
    font-weight: bold;
}


/* Layout sizes */
.container {
    width: 100%;
    max-width: 1920px;
    margin: 20px auto;
}

/* Navbar styling */
.navbar {
    height: 60px;
    background-color: white;
    color: var(--quizard-black);
}

/* Sections */
.section {
    min-height: 1080px;
    width: 100%;
}

/* Footer */
.footer {
    height: 220px;
    background-color: #333;
    color: white;
}

/* Utilities */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}