.progress-bar-container {
    max-width: 520px;
    width: 100%;
    height: 30px;
}

.progress-bar-outer {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--quizard-white);
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
}

.progress-bar-inner {
    width: calc(100% - 20px);
    height: 12px;
    margin: auto;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.progress-bar-progress {
    /* width is calculated in the React component and added as inline style*/
    height: 100%;
    border-radius: inherit;
    background-color: var(--quizard-teal);
}