.CTA-button {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    width: 196px;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: all 0.1s ease-in-out; /* Makes the change gradual */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: scale(1); /* Initial scale */
}

.CTA-button:hover {
    transform: scale(1.03) translateY(-2px); /* Scales the button up a bit */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.CTA-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.03) translateY(0px); /* Remains scaled but moves back down */
}

.CTA-button.go-back {
    background-color: #D9D7DA;
    color: #6A6870;
}

.CTA-button.go-back:hover {
    background-color: #E5E4E6;
}

.CTA-button.go-back:active {
    background-color: #D9D7DA;
}



.CTA-button.generate {
    background-color: #64FFD1;
    color: #0D052D;
}

.CTA-button.generate:hover {
    background-color: #64FFD1;
}

.CTA-button.generate:active {
    background-color: #64FFD1;
}

.CTA-button.next {
    background-color: #64FFD1;
    color: #0D052D;
}

.CTA-button.next:hover {
    background-color: #64FFD1;
}

.CTA-button.next:active {
    background-color: #64FFD1;
}