.completion-content {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.completion-content p {
    margin-bottom: 20px;
}

.sharethis-inline-share-buttons {
    width: 100%;
    margin-bottom:30px;
}

.powr-form-builder {
    background: var(--quizard-white);
    width: 100%;
    justify-self: end;
}

