/* UploadContainer.css */

.upload-container {
    max-width: 1044px;
}

.text-upload-field {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: #F4F5FF;
    color: grey;
    padding: 20px;
}

.PDF-upload-field {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PDF-placeholder {
    color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PDF-upload-icon {
    font-size: 60px; /* Change the size; 4x the base size */
    color: #6a6870;
    margin-top: 20px;
}





