/* UploadContainer.css */
.upload-container {
    margin: auto;
    width: 1044px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-container h2 {
    margin: 0 0 10px 0;
}

.input-area {
    width: 100%;
    height: 446px;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

.PDF-upload-field {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PDF-placeholder {
    color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-upload-field {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: #F4F5FF;
    color: grey;
    padding: 20px;
}

.button-area {
    margin: 10px 0 0 0;
    align-self: end;
    display: flex;
    justify-content: flex-end;
}

