.description {
    text-align: center;
    max-width: 800px;
    width: 80%;
}

.generation-section-container {
    /*margin: auto;*/
    max-width: 1044px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.generation-section-container h2 {
    margin: 0 0 10px 0;
}

.generation-section-box {
    width: 100%;
    height: 50vh;
    max-height: 520px;
    border-radius: var(--outer-border-radius);
    margin: 10px 0 0 0;
}

.button-area {
    width: 100%;
    margin: 15px 0 0 0;
    align-self: end;
    display: flex;
    justify-content: space-between;  /* Pushes child elements to the ends */
}

.button-area button {
    margin-left: 10px;
    margin-right: 10px;
}

.button-area > :first-child {
    margin-left: 0;
}

.button-area > :last-child {
    margin-right: 0;
}

@media only screen and (max-height: 840px) {
    .description {
        margin: 0px auto 20px auto;
    }
}






