.progress-bar-outer {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--quizard-lighter-grey);
    /*box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.05);*/
    display: flex;
    justify-content: center;
}

.progress-bar-inner {
    width: calc(100% - 24px);
    height: 16px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.progress-bar-progress {
    /* width is calculated in the React component and added as inline style*/
    height: 100%;
    border-radius: inherit;
    background-color: var(--quizard-subtle-teal);
}

@media only screen and (max-width: 800px) {
    .progress-bar-outer {
        height: 30px;
        border-radius: 15px;
    }

    .progress-bar-inner {
        width: calc(100% - 20px);
        height: 12px;
        border-radius: 6px;
    }
}